{% extends 'allPcs/layout.html' %}
{% load static %}
{% block content %}

<div class="col-md-11 p-4 txtcol29 c">
    <h1 class="c">Visuales</h1>
</div>

<div class="col-11 mx-auto mb-5">
    <div class="col-9 ">
        <div class="col-md-11 p-4 txtcol29 c">
            <h2 class="ms-4">Crear Monitor</h2>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}

            <input class="btb btn-success btn-small" type="submit" name="Crear">
        </form>
    </div>
    <div class="col-md-11 mb-6 txtcol29 c">
        <h2>Crear Pc</h2>
    </div>
</div>

{% endblock content %}