{% extends 'allPcs/layout.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 mx-auto mt-4">
            <div class="col-11 mx-auto mb-3 c">
                <h3>Centro de computo</h3>
                <h2>CPU</h2>
                <p>Consideramos la CPU o Torre, a el computador de escritorio sin ningun perisferico</p>
                <p>Computadores Usados y nuevos</p>
                <p>Los computadores usados tienen una garantia de 3 meses</p>
                <hr/>
                {% if request.user.is_authenticated %}
                    <div class="d-grid gap-2 mb-3">
                        <a href="{% url 'createPc' %}" class="btn btn-info btn-sm">Create CPU</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-11 mx-auto p-2 c">
                <img src="{% static '/img/products/CPU.jpg' %}" class="pc" alt="">
            </div>
        </div>
        <div class="col-8 mx-auto mt-4 ">
            <div class="titl c">
                <h3>CPUs</h3>
            </div>
                <div class="col-11 mx-auto mb-5 p-3">
                    <div class="list-group">
                        {% for cpu in cpus %}
                            <card href="#" class="list-group-item list-group-item-dark"" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ cpu.name }}</h5>
                                    {% if cpu.discount %}
                                    <small class="blanc">
                                        Antes: <del class="mr-1">$ {{ cpu.price|intcomma }}</del>
                                    </small>
                                    <small>
                                        <strong>OFERTA <span class="rojo">$ {{ cpu.discount|intcomma }}</span></strong>
                                    </small>
                                    {% else %}
                                        <small>
                                            <span class="blanc">$ <strong>{{ cpu.price|intcomma }}</strong></span>
                                        </small>
                                    {% endif %}
                                </div>
                                <p class="mb-1 blanc">{{ cpu.description }}</p>
                                <small class="blanc">Entrega en una semana.</small>
                                {% if request.user.is_authenticated %}
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="{% url 'updatePc' cpu.id %}" class="btn btn-info btn-sm me-md-2">Modificar</a>
                                        <a href="{% url 'delpc' cpu.id %}" class="btn btn-danger btn-sm me-md-2">Eliminar</a>
                                    </div>
                                {% endif %}
                            </card>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
